/* Inicio estilo body asociate */
.body-asociate{
    background: linear-gradient(to top, red, black)
}
/* Fin estilo body asociate */

/* Inicio estilo formulario */

.formulario{
    justify-content: center;
    margin-top: 20px;
    color: white;
}
.botones{
    border: 1px solid white;
    color: white;
    background-color: black;
    &:hover{
        background-color: white;
        color: black;
    }
}
/* Fin estilo formulario */
