/* Inicio estilo body faq */
.body-faq{
    background: linear-gradient(to top, red, black)
}
/* fin estilo body faq */

/* Inicio estilo titulo faq */
.titulo-faq{
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    text-align: center;
}
/* Fin estilo titulo faq */

/* Inicio estilo parrafo faq */
.parrafo-faq{
    margin-top: 1.25rem;
}
/* Fin estilo parrafo faq */

/* Inicio estilo preg y resp faq */
.respuestas-link{
    text-decoration: none;
}

.preguntas{
    font-weight: bolder;
    background-color: tomato;
}
/* Fin estilo preg y resp faq */